h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  color: #fe5d26;
}

.navbar {
  background-color: #f2c078;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  flex-wrap: wrap;
}
.navbar a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #fe5d26;
}
.navbar a:hover {
  background-color: #575757;
}
.navbar-logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-logo img {
  height: 6rem;
  width: auto;
  object-fit: contain;
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.category-section {
  width: 90%;
  margin-bottom: 2rem;
}

.category-title {
  color: #fe5d26;
  margin-bottom: 1rem;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.item-view {
  flex: 1 1 250px;
  max-width: 300px;
  box-sizing: border-box;
  background-color: #c1dbb3;
  border-radius: 0.5rem;
  padding: 0.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0.5, 0.5);
  color: #fff;
  margin: 0.6rem;
}

.footer {
  background-color: #f2c078;
  color: white;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
}
.footer a {
  color: #c1dbb3;
  text-decoration: none;
  margin: 0.2rem;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-content {
  color: #c1dbb3;
  margin: 0 auto;
  max-width: 1280px;
}

.cart-modal {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  z-index: 1;
  background-color: #c1dbb3;
}

button {
  background-color: #c1dbb3;
  color: #fe5d26;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.3rem;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
  }

  .navbar-links {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-links a div {
    padding: 0.75rem 1rem;
    width: 80%;
    align-items: center;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .footer-content {
    width: 100%;
  }
}
